@media (min-width: 833px)
    .contacto__footer
        position: absolute
        bottom: 0
        width: 100%
@media (max-width: 767px)
    .indexo0, .indexo1
        height: 50vh !important
    .card
        margin-bottom: 20px
@media (min-width: 768px)
    .indexo0, .indexo1
        height: 100vh !important
