@media (min-width: 833px)
    .centered
        .card
            img:hover
                transform: scale(1.1)
                transition: 0.3s
    .gallery-bg
        .card
            img:hover
                transform: scale(1.1)
                transition: 0.5s
    .contacto__footer
        width: 100%
