p, h1, h2, h3, h4, a {
  color: #fff;
  text-align: justify;
}

h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p__justify {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .cover0 {
  position: relative;
  max-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
}
main .cover0 h2 {
  z-index: 2;
}
main .cover0::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
main .cover1 {
  position: relative;
  max-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
}
main .cover1 h2 {
  z-index: 2;
  color: #fff;
}
main .cover1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
main #cover0 {
  background-image: url(../media/almendra/almendraI.webp);
}
main #cover1 {
  background-image: url(../media/almendra/almendraII.webp);
}
main #cover2 {
  background-image: url(../media/pescado/pescado2-cover.webp);
}
main #cover3 {
  background-image: url(../media/pescado/artaud-cover.webp);
}
main #cover4 {
  background-image: url(../media/invisible/durazno-cover.webp);
}
main #cover5 {
  background-image: url(../media/invisible/jardin-cover.webp);
}
main .content0 {
  background-color: #946c78;
}
main .content1 {
  background-color: #5c822c;
}
main .content2 {
  background-color: #a04038;
}
main .content3 {
  background-color: #178a08;
}
main .content4 {
  background-color: #493838;
}
main .content5 {
  background-color: #b2620c;
}

.content2 .pescado__card-bg {
  background-color: #a04038;
  border-color: #86362f;
}
.content2 ul .list__bg0 {
  background-color: #a04038 !important;
}
.content2 ul .list__bg1 {
  background-color: #2f4655 !important;
}
.content2 ul .gallery-bg {
  background-color: #fff !important;
}
.content2 .card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: -moz-fit-content;
  max-height: fit-content;
  border: none;
  background-color: transparent;
}
.content2 .card img {
  padding: 1.7rem;
  border-radius: 15%;
}

.contacto__main {
  background-color: #333 !important;
  height: 90vh !important;
  overflow: scroll;
  padding-bottom: 20vh;
}
.contacto__main h1, .contacto__main p, .contacto__main label {
  color: #f8f9fa;
  background-color: #333;
}
.contacto__main .formulario {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto__main .formulario form {
  width: 50%;
}
.contacto__main .formulario form label, .contacto__main .formulario form input, .contacto__main .formulario form textarea {
  font-size: 1rem;
}
.contacto__main .formulario form input, .contacto__main .formulario form textarea, .contacto__main .formulario form button {
  background-color: #f8f9fa;
}
.contacto__main .formulario form input {
  border: none;
  width: 100%;
  height: 2rem;
}
.contacto__main .formulario form textarea {
  border: none;
  padding: 1rem;
  width: 100%;
}
.contacto__main .formulario form button {
  border-radius: 0%;
}
.contacto__main .formulario form button:hover {
  background-color: #333;
  color: #f8f9fa;
}

.gallery-bg h1, .gallery-bg h2, .gallery-bg h3, .gallery-bg p {
  color: #333;
}
.gallery-bg .card {
  border-radius: 15%;
  border-color: transparent;
}
.gallery-bg .card img {
  border-radius: 15%;
}

@media (min-width: 833px) {
  .centered .card img:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  .gallery-bg .card img:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  .contacto__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
main .cover-index {
  position: relative;
  max-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  background-image: url(../media/index/hero1.jpg);
}
main .cover-index::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
main .cover-index h2 {
  z-index: 3;
  color: #fff;
}
main #content-index {
  background-color: #333;
}
main #content-index .description {
  justify-content: center;
  lign-items: center;
}
main .container-menu {
  background-color: #2f4655;
}
main .container-menu .centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
main .container-menu .centered h2 {
  color: #fff;
}
main .container-menu .centered .container-fluid {
  background-color: #f8f9fa;
}
main .container-menu .centered .card::hover {
  transform: scale(1.1);
  transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

nav img {
  height: 2rem;
}

hr {
  border: 0;
  height: 1px;
  background: #fff;
  margin: 20px 0;
}

footer {
  background-color: #1a1d1a;
  color: #fff;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */