@import 'main.sass'
@import 'variables.sass'


*
    margin: 0
    padding: 0
    
html, body
    height: 100%
    
nav
    img
        height: 2rem
footer
    background-color: $bgg3
    color: $bgg0
    padding: 10px
@import 'components.sass'

@import 'mqueries.sass'


