*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    text-align: justify;
}
.p__justify {
    display: flex;
    align-items: center;
    justify-content: center;
}
html, body {
    height: 100%;
}
.logo__img{
    height: 2rem;
    
}

.index__main__cover0 {
    position: relative;
    max-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-image: url(../media/almendra/almendraI.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}
.index__main__cover0::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.index__main__cover0 h2{
    z-index: 2;
    color: white;

}
.index__main__cover1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-image: url(../media/almendra/almendraII.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}
.index__main__cover1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.index__main__cover1 h2{
    z-index: 2;
    color: white;

}
.index__almendrai {
    background-color: #946C78;
}
.index__almendraii {
    background-color: #5C822C;
}
footer {
    background-color: #1a1d1a;
    color: white;
    padding: 10px;

}

/* pescado */

.pescado__main__cover0 {
    position: relative;
    max-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-image: url(../media/pescado/pescado2-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}
.pescado__main__cover0::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.pescado__main__cover0 h2{
    z-index: 2;
    color: white;

}
.pescado__main__cover1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-image: url(../media/pescado/artaud-cover.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}

.pescado__main__cover1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.pescado__main__cover1 h2{
    z-index: 2;
    color: white;

}
.artaud-bg {
    background-color: #178A08;
}

.artaud-bg::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.pescado__card-bg{
    background-color: #a04038;
    border-color: #86362f;
}
.pescado__card-bg-1{
    background-color: #2F4655;
}
.card-header {
    background-color: #86362f;
    color: white;
    border-width: 0px;
}
.pescado-bg {
    background-color: #a04038;
}

/* invisible */
.invisible__main__cover0 {
    position: relative;
    max-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-image: url(../media/invisible/durazno-cover.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}
.invisible__main__cover0::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.invisible__main__cover0 h2{
    z-index: 2;
    color: white;

}
.invisible__main__cover1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-image: url(../media/invisible/jardin-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}
.invisible__main__cover1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.invisible__main__cover1 h2{
    z-index: 2;
    color: white;

}
.jardin-bg {
    background-color: #493838;
}
.durazno-bg {
    background-color: #b2620c;
}

/* Galeria */


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    border: none;
    background-color: transparent;
}
.card img {
    padding: 1.7rem;
    border-radius: 15%;
}
.gallery-bg {
    background-color: #fff;
    
}



/* contacto */
.contacto__body {
    background-color: #333;
}
.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
}
.formularioo {
    width: 50%;
}
label, input, textarea {
    font-size: 1rem;

}
input{
    border: none;
    background-color: #F8F9FA;
    width: 100%;
    height: 2rem;
}
textarea {
    border: none;
    background-color: #F8F9FA;
    padding: 1rem;
    width: 100%;
}
#enviar:hover{
    background-color: #333;
    color: #F8F9FA;
}
.contacto__text{
    color: #F8F9FA;
}
.contacto__btn{
    background-color: #f8f9fa;
    border-radius: 0%;
}


@media (min-width: 768px) { /* md */
    .contacto__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 833px) { /* lg, xl, xxl */
    .gallery-img:hover {
    transform: scale(1.1);
    }
    #containerContacto {
        display: flex;
    }
    .card img:hover {
        transform: scale(1.1);
        transition: 0.5s;
    
    }
    .contacto__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}