/*
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    background-color: #f5f5f5;
    height: 20vh;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    font-size: 1rem;
}
.logo__img{
    height: 100%;
    
}
.Nav-bar {
    display: flex;
    justify-content: flex-end;

}
a {
    text-decoration: none;
}
.Nav-bar ul {
    list-style: none;
    display: flex;
}
.Nav-bar__boton li {
    color: black;
    background-color: aqua;
    padding: 1em;
}
.Nav-bar__boton li:hover {
    background-color: #f5f5f5;
    color: black;
    transition: 1s;
} 
*/
*{
    margin: 0;
    padding: 0;
}

.logo__img{
    height: 2rem;
    
}
.index__main__cover0 {
    position: relative;
    max-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-image: url(../media/almendra0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}
.index__main__cover0::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.index__main__cover0 h2{
    z-index: 2;
    color: white;

}
.index__main__cover1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-image: url(../media/almendraII.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}
.index__main__cover1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.index__main__cover1 h2{
    z-index: 2;
    color: white;

}
footer {
    background-color: #1a1d1a;
    color: white;
}
/* pescado */

.pescado__main__cover0 {
    position: relative;
    max-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-image: url(../media/pescado-cover0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}
.pescado__main__cover0::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.pescado__main__cover0 h2{
    z-index: 2;
    color: white;

}
.pescado__main__cover1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-image: url(../media/pescado-cover1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}
/*
.pescado__main__cover1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
    */
.pescado__main__cover1 h2{
    z-index: 2;
    color: white;

}
.artaud-bg {
    background-color: #47F712;
}

.artaud-bg::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.pescado-bg {
    background-color: #a04038;
}

.pescado-bg::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


